.PanelList {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 20px;

}

.PanelList.panel-left {
  background-color: yellow;
  color: black;
}

.PanelList.panel-right {
  background-color: blue;
  color: white;
}
