.PanelList {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.PanelList.panel-left {
  background-color: yellow;
}

.PanelList.panel-right {
  background-color: blue;
}
